/.idea
/.gradle

*/build
*/logs
logs/
*tmp/build
build
client
core/java-agent/.gradle
core/java-agent/build
core/projectTmp/
core/tmp/lib
core/tmp/stats/
JVMCompiler/projectTmp/
JVMCompiler/tmp/
JVMCompiler/tmp/build/
NativeCompiler/lib
NativeCompiler/projectTmp/
NativeCompiler/tmp/
tmp/*.jar
tmp/*.js
tmp/*.kt

core/bugsPerMinute.txt
core/dummy.kt
core/seedWeightsDump.txt
core/test.txt

core/tmp/results/curBugs/
core/tmp/results/shortRuns/*
core/tmp/results/run-*
core/tmp/results/JVM-*

1.txt
*/1.txt

kotlinc1.8.0/
kotlinc1.9.0/
