/.idea
/.gradle

*/build
*/logs
*tmp/build
build
client
core/java-agent/.gradle
core/java-agent/build
core/projectTmp/
core/tmp/lib
core/tmp/stats/
JVMCompiler/projectTmp/
JVMCompiler/tmp/
JVMCompiler/tmp/build/
NativeCompiler/lib
NativeCompiler/projectTmp/
NativeCompiler/tmp/
tmp/*.jar
tmp/*.js
tmp/*.kt

core/bugsPerMinute.txt
core/dummy.kt


